.form {
    margin-top: 20px;
}

.error {
    color: red;
    margin: 10px 5px;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size: 12px;
}

.button {
    background: #135c76;
    padding: 7px 75px;
    border: none;
    font-size: 14px;
    color: #fff;
    position: relative;
    font-weight: 600;
    outline: none;
    border-radius: 30px;
}
