
.containerInfoAndPosts {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.containerInfo {
    width: 400px;
    padding: 20px;
}

.containerPosts {
    width: 700px;
}

.headerContent {
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 46vh;
}

.sidebar {
    width: 20%;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 15px;
    font-weight: normal;
    margin-top: 7px;
    word-break: break-word;
}

.data > span {
    font-weight: bold;
}