.postsBlock {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.posts {
    margin-top: 10px;
}

.postContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
    margin-top: 10px;
    background: ghostwhite;
}

.title {
    color: #006d77;
    margin-top: 10px;
    font-size: 20px;
}

.button {
    background: #135c76;
    padding: 7px 25px;
    border: none;
    font-size: 14px;
    color: #fff;
    position: relative;
    font-weight: 600;
    outline: none;
    border-radius: 30px;
}
