.button {
    background: #135c76;
    padding: 13px 25px;
    border: none;
    font-size: 14px;
    color: #fff;
    position: relative;
    font-weight: 600;
    outline: none;
    border-radius: 30px;
}