.app-wrapper {
    font-family: 'Lato', sans-serif;
    line-height: 26px;
    font-size: 17px;
    background-color: #d4d7de;
    height: 100%;

}

.app-wrapper-content {
    padding-top: 80px;
    min-height: 100vh;
    height: max-content;
}







